import tkinter as tk
from tkinter import messagebox

def get_weather():
    weather_data = {"place":"TamilNadu",
        "city": "CHENNAI",
        "forecast": "SUNNY",
        "temperature": "32°C"
    }
    
    messagebox.showinfo("WEATHER FORECAST", f"Place:{weather_data['place']}\nCity: {weather_data['city']}\nForecast: {weather_data['forecast']}\nTemperature: {weather_data['temperature']}")

# Create main window
root = tk.Tk()
root.title("WEATHER FORECAST")
root.geometry("900x900")

# Create and configure widgets
label = tk.Label(root, text="WEATHER FORECAST", font=("arial", 16,'bold'),fg='green')
label.pack(pady=10)

get_weather_button = tk.Button(root, text="Get Weather", command=get_weather,activeforeground='red',activebackground='yellow',fg='black',bg='green').pack()



root.mainloop()
